@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

.game {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.game .table {
  display: flex;
  min-height: 12rem;
  flex-grow: 1;
  align-items: center;
}
.game .help {
  text-align: center;
  padding: 1rem;
  opacity: 0.4;
}
.game .players {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}
.players-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}
.players-wrapper {
  display: flex; 
  overflow-y: auto;
  align-items: flex-end;
  padding: 1rem 1rem 0 1rem;
}
.game .players .player {
  margin: 0.5rem;
  padding: 0.5rem;
  background: #16161f;
  border-radius: 1rem;
  position: relative;
  min-width: 10rem;
  overflow: hidden;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game .players .player.current {
  box-shadow: 0 0 15px red;
  z-index: 1;
}
.game .players .player h5 {
  margin: 0;
}
.game .players .player.the {
  border-radius: 1rem 1rem 0 0 ;
  margin-bottom: 0;
  font-weight: bold;
}
.game .players .card {
  margin-bottom: -3rem;
}

/* .game .players .player.the::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  top: 100%;
  background: rgba(66,66,66,0.5);
} */
.game .players .player.current.the::after {
  background: rgba(66,66,166,0.5);
}
.game .players .player .cards-number {
  position: absolute;
  font-size: 2rem;
  color: #16161f;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(220,230,240,0.5);
  text-align: center;
  font-weight: bold;
}
.game .players .player.the .cards-number {
  display: none;
}

.game .actions {
  display: flex;
  justify-content: center;
}
.game .actions button {
  margin: 0 3rem ;
  font-size: 2rem;
  background: none;
  color: #16161f;
  text-shadow: 0 0 3px #00fff2, 0 0 6px #00fff2, 0 0 9px #00fff2;
  overflow: hidden;
  border: none;
  padding: 0.3rem 1rem;
  box-shadow: 0 0 5px -2px #00fff2;
  cursor: pointer;
}
.game .actions button:disabled {
  cursor: auto;
}
.game .actions button.red {
  text-shadow: 0 0 3px #f200ff, 0 0 6px #f200ff, 0 0 9px #f200ff;
}
