.deck {
  position: relative;
  width: 30%;
  height: 100%;
}
.deck .cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck .card {
  position: absolute;
}
.deck.available .card:last-child {
  animation: scale .5s ease-out infinite alternate;
}
