.the-player {
  width: 100%;
  background: #16161f;
}
.the-player.current {
  box-shadow: 0 0 15px red;
}

.the-player .cards {
  overflow: hidden;
}
.the-player .cards .cards-wrapper {
  overflow-y: auto;
  display: flex;
  min-height: 10rem;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
}
.the-player .cards .cards-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.the-player .cards .card {
  margin: 0.5rem;
}